body {
    background-color: #000;
    transition: background-color linear 5s;
    overflow-x: hidden;
}

.container { display: none; }

.balloons {
    position: fixed;
    bottom: -200px;
    opacity: 0.6;
    z-index: 99;
    width: 80px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: 80px 150px;
}

.balloons h2 {
    text-transform: uppercase;
    font-family: 'Signika', sans-serif;
    font-size: 40px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    display: block;
    margin-top: 50px;
}

/* Balloon background images */
#b1 { background-image: url('b1.png'); left: 5%; }
#b2 { background-image: url('b2.png'); left: 20%; }
#b3 { background-image: url('b3.png'); left: 35%; }
#b4 { background-image: url('b4.png'); left: 50%; }
#b5 { background-image: url('b5.png'); left: 65%; }
#b6 { background-image: url('b6.png'); left: 80%; }

.balloons-rotate-behaviour-one { animation: balloons_rotate_one linear 10s infinite; }
.balloons-rotate-behaviour-two { animation: balloons_rotate_two linear 10s infinite; }

@keyframes balloons_rotate_one {
    0% { transform: rotate(30deg); }
    50% { transform: rotate(-30deg); }
    100% { transform: rotate(30deg); }
}
@keyframes balloons_rotate_two {
    0% { transform: rotate(-20deg); }
    50% { transform: rotate(20deg); }
    100% { transform: rotate(-20deg); }
}

/* Mobile responsive */
@media screen and (max-width: 768px){
    .balloons { width: 50px; height: 100px; }
    .balloons h2 { font-size: 25px; margin-top: 30px; }
}
